<a href="https://colab.research.google.com/github/kimberlyydanij/python_demo/blob/master/Kimberly_04_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#튜플과 리스트의 차이점


1.   [리스트] : 값의 생성, 삭제 수정이 가능
2.   (튜플) : 값의 변경 불가능.1개의 요소만 가질때는 요소뒤에 반드시 ,를 붙여야 하며 () 생략 가능

In [8]:
t1 = (1,2,'a','b')
t1[0]
t1[3]

'b'

In [9]:
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [10]:
t2 = (3,4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [11]:
t2 * 3

(3, 4, 3, 4, 3, 4)