<a href="https://colab.research.google.com/github/kimberlyydanij/python_demo/blob/master/python_03_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=1
if a>3 : 
  print ('YES')
else:
  print('NO')

NO

In [ ]:
if a>0:
  print('YES')
  print('Ok')
else:
  print('No')

YES
Ok

In [ ]:
#jumsu가 80이상 '상', 80미만~60이상 '중', 60미만 '하
jumsu = 55
if jumsu >=80:
  print("상")
elif jumsu >=60:
  print("중")
else:
  print("하")

하

exixtance
python에서 조건은 존재론(existance)적이다 -> truthy, falsy

In [ ]:
# 0은 숫자가 없는 것과 같음 -> falsy
a = 0.0
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
#case of java
String data="a";
if(data) {
    
}

In [ ]:
#case if Js
let data="a";
if(data) {
    
}

In [ ]:
# None은 객체가 없는 것과 같음 -> falsy
a = None
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
#비어있는 dict은 없는 것과 같음 -> falsy
a = {}
if a:
  print('Yes')
else:
  print('No')

No

In [ ]:
#인스턴스 방식으로 값을 만들 때 괄호 안이 비어 있으면 비어 있는 값을 만든다.
#if 에서 모두 false이다.
a = int()
b = float()
c = complex()
d = list()

In [ ]:
if a:
  print("yes")
else:
  print('no')

no

In [ ]:
3<2 or 4<5

True

In [ ]:
# and는 앞이 True 이면 뒤에 값을 반환한다.
# 3은 존재론 적으로 True
3 and 4

4

In [ ]:
#and는 앞이 False이면 앞의 값을 반환한다.
#비어 있는 문자열은 없는 것과 같은 ->  falsy
"" and 4

''

In [ ]:
# or는 and의 반대
# 앞이 true이면 앞, 앞이 false이면 뒤의 값을 반환한다.
3 or 4

3

In [ ]:
"" or 4

4

In [ ]:
if a=4:
  print('yes')

SyntaxError: ignored

### 반복문
반복문에서 else는 반복문이 완벽하게 끝났을 때 실행된다.
대부분의 프로그래밍 언어는  while과 for를 지원한다.

In [22]:
#아래는 while문이 완벽히 돌았으므로 end가 출력된다.
a = 20;
while a>10:
  a -= 1
  print(a)
else:
  print('end')

19
18
17
16
15
14
13
12
11
10
end

In [24]:
#break는 반복문을 중단시킨다.
#break가 실행되면 반복문이 완벽하게 실행된 것이 아니므로 else가 실행되지 않는다.
a = 10
while a>1:
  a-=1
  if a==5:
    break #중단
  print(a)
else:
    print("end")

9
8
7
6

In [25]:
# continue는 다음 루프로 바로 넘어간다.
# 반복문을 중단하지는 않으므로 else문이 실행된다.
a = 10
while a>1:
  a -= 1
  if a==5:
    continue
  print(a)
else:
  print('end')

9
8
7
6
4
3
2
1
end

In [27]:
for k,v in enumerate(['apple','phthon','microsoft']):
  print('{0}: {1}'.format(k,v))

0: apple
1: phthon
2: microsoft

In [28]:
for j in enumerate(['apple','phthon','microsoft'],1):

  print('{0}'.format(j))

(1, 'apple')
(2, 'phthon')
(3, 'microsoft')

In [29]:
# zip  함수 : 매개 인자로 여러 목록을 받아 각 목록의 요소를 튜플에 담아 목록에 저장한다.
a = [1,2,3,4,5]
b = ['a','b','c','d','e']

for x,y in zip (a,b):
  print(x,y)
  t=x,y
print(type(t))

1 a
2 b
3 c
4 d
5 e
<class 'tuple'>

# 예외(Exception)
모든 예외는 클래스로 표현되며 최상위 클래스는 BaseException 클래스 이다.
### 예외상황 :
1.0으로 숫자 나누기
2.문자열과 숫자 더하기
3.참조 범위를 넘어서 인덱스 참조하기
4.등록되어 있지 않은 키로 사전 검색하기

In [34]:
# 0으로 숫자 나누기
a, b = 5,0
c = a/ b   #ZeroDivisionError

ZeroDivisionError: ignored

In [35]:
# 정의되지 않은 변수를 사용하면 NameError 발생
4 + spam + 3  #NameError

NameError: ignored

In [36]:
# 숫자가 아닌 데이터를 int로 변경할때 ValueError 발생
# 연산중에 인수의 타입이 맞지 않으면 typeerror 발생

'2' + 2  #TypeError

TypeError: ignored